<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>


<body>

<table class="layui-hide" id="test" lay-filter="test" ></table>

<script type="text/html" id="toolbarDemo">
    <!--    <div class="layui-btn-container">-->
    <button class="layui-btn layui-btn-sm" lay-event="getCheckData" >首页</button>
    <!--        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>-->
    <!--        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>-->
    <!--    </div>-->
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">提交</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>
    layui.use('table', function(){
        var table = layui.table
            ,form = layui.form;

        table.render({
            elem: '#test'
            ,url:'managerNodes'
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }]
            ,title: '用户数据表'
            ,cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    ,{field:'id', title:'ID',  fixed: 'left', unresize: true, sort: true}
                    ,{field:'ip', title:'Ip'}
                    ,{field:'userName', title:'登录账户',edit: 'text'}
                    ,{field:'password', title:'登陆密码' ,edit: 'text'}
                    ,{field:'sshPort', title:'端口',edit: 'text'},
                    // ,{field:'email', title:'邮箱', width:230, edit: 'text', templet: function(res){
                    //     return '<em>'+ res.email +'</em>'
                    // }}
                    //
                    // ,{field:'role', title:'角色', width:200}
                    // ,{field:'telNum', title:'电话', width:200, edit: 'text'}
                    // {fixed: 'right', title:'容器状态', toolbar: '#barDemo1'}
                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo'}
                ]
            ]
            ,page: false
        });

        //监听性别操作
        form.on('switch(dockerStatus)', function(obj){
            console.log(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
            console.log(this.value);
            console.log(obj.elem.checked);
            commit_line(obj)
        });
        //头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    location.href='index';
                    break;
                case 'LAYTABLE_TIPS':
                    layer.alert('批量删除doing)');
                    break;
            }
        });

        //监听行工具事件
        table.on('tool(test)', function(obj){
            var data = obj.data;
            $(data).change();
            if (obj.event === 'del'){

                del(data.id);
            } else if(obj.event === 'edit'){
                commit_line(data)

            }
        });
    });

    function del(id) {
        layer.open({
            // type : 1,
            title: '删除'

            ,content: '确定删除这个容器吗',
            btn : [ '确定', '取消' ],
            yes : function(index, layero) {
                console.log(id);
                $.ajax({
                    url : "deleteNode",
                    data : {
                        "id" : id

                    },
                    dataType : "text",
                    success : function(data) {
                        if(data==-1){
                            layer.msg("删除成功！");
                            layer.close(index);
                            window.location.reload();

                        }else{
                            layer.msg("删除失败！");
                        }
                    },
                    error : function() {
                    }
                });
            }
        });

    }

    function commit_line(data) {
        layer.open({
            title: '修改'
            ,content: '确定提交本次修改吗',
            // ,content:JSON.stringify(data),
            btn : [ '确定', '取消' ],
            yes : function(index, layero) {


                $.ajax({
                    url : "nodeSet",
                    data : {
                        "id" : data.id,
                        "ip":data.ip,
                        "userName":data.userName,
                        "password":data.password,
                        "sshPort":data.sshPort,

                    },
                    dataType : "text",
                    success : function(data) {
                        if(data==-1){
                            window.location.reload();
                        }else{
                            layer.msg("修改失败！");
                        }
                    },
                    error : function() {
                    }
                });
            }
            // btn2:function() {
            //     window.location.reload();
            // }
        });

    }
    function test() {
        layer.open({
            type: 2 ,
            area:["900px",'800px'],
            // content: 'http://192.168.142.130:10001/#flow/e2651e24.4d8ff'   //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
            content:"index"
        });
    }





</script>

</body>
</html>