<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui.form小例子</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<body>


<button lay-submit lay-filter="*">提交</button>

<script src="/layui/layui.js"></script>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>


<script>

    layui.use('form', function(){
        var form = layui.form;
        form.on('submit(start)', function(data){
            test();
            console.log(data.elem); //被执行事件的元素DOM对象，一般为button对象
            console.log(data.form) ;//被执行提交的form对象，一般在存在form标签时才会返回
            console.log(data.field) ;//当前容器的全部表单字段，名值对形式：{name: value}
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。

        });
        function test() {
            layer.open({
                type: 2 ,
                area:["900px",'800px'],
                content: 'http://192.168.142.129:10001/#flow/e2651e24.4d8ff'   //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
            });
        }

        //各种基于事件的操作，下面会有进一步介绍
    });




</script>

</body>
</html>
