<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
<!--    <title>Thymeleaf快速入门-Hello Thymeleaf</title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;<table>&ndash;&gt;-->
<!--&lt;!&ndash;    <thead>&ndash;&gt;-->
<!--&lt;!&ndash;    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <th>index</th>&ndash;&gt;-->
<!--&lt;!&ndash;        <th>学生id</th>&ndash;&gt;-->
<!--&lt;!&ndash;        <th>学生姓名</th>&ndash;&gt;-->
<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    </thead>&ndash;&gt;-->
<!--&lt;!&ndash;    <tbody>&ndash;&gt;-->
<!--&lt;!&ndash;    <tr th:class="${status.even}?'even':'odd'" th:each="s,status:${userInfos}">&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${status.index}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <td th:text="${s.id}"></td>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${s.name}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    </tbody>&ndash;&gt;-->
<!--&lt;!&ndash;</table>&ndash;&gt;-->

<!--&lt;!&ndash;<div _ngcontent-c42="" class="usinf">&ndash;&gt;-->
<!--&lt;!&ndash;    <h5 _ngcontent-c42="">个人资料</h5>&ndash;&gt;-->
<!--&lt;!&ndash;    &lt;!&ndash;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <button _ngcontent-c42="" class="mat-icon-button" md-icon-button="" style="position: absolute; top: 10px; right: 16px;color: #108EE9">&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="mat-button-wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;        <i _ngcontent-c42="" class="anticon anticon-edit" style="color: #108EE9;margin-right: 5px;">&ndash;&gt;-->

<!--&lt;!&ndash;        </i>编辑 </span>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="mat-button-ripple mat-ripple mat-button-ripple-round" md-ripple="">&ndash;&gt;-->

<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="mat-button-focus-overlay">&ndash;&gt;-->

<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </button>&ndash;&gt;-->
<!--&lt;!&ndash;    <form _ngcontent-c42="" id="userForm" name="editForm" novalidate="" role="form" class="ng-pristine ng-valid ng-touched">&ndash;&gt;-->
<!--&lt;!&ndash;    <div _ngcontent-c42="" class="info-la"> <span _ngcontent-c42="" class="labname">头像</span> <div _ngcontent-c42="" class="labM">&ndash;&gt;-->
<!--&lt;!&ndash;        <figure _ngcontent-c42="" class="mb-0">&ndash;&gt;-->
<!--&lt;!&ndash;            <div _ngcontent-c42="" class="icon-upload">&ndash;&gt;-->
<!--&lt;!&ndash;                <label _ngcontent-c42="" class="text-center" for="file-input">&ndash;&gt;-->
<!--&lt;!&ndash;                    <span _ngcontent-c42="" class="edit-avatar">&ndash;&gt;-->
<!--&lt;!&ndash;                        <img _ngcontent-c42="" alt="" class="avatar rounded-circle" style="width:38px; height: 38px;" src="http://180.167.8.36:18081//images/users/4/9131403f-24ba-4504-bf53-0498223943b2.png">&ndash;&gt;-->
<!--&lt;!&ndash;                    </span>&ndash;&gt;-->
<!--&lt;!&ndash;                </label>&ndash;&gt;-->
<!--&lt;!&ndash;                <input _ngcontent-c42="" accept="image/jpeg,image/png" class="hidden" id="file-input" ng2fileselect="" type="file" disabled="">&ndash;&gt;-->
<!--&lt;!&ndash;                &lt;!&ndash;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </figure>&ndash;&gt;-->
<!--&lt;!&ndash;    </div> </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div _ngcontent-c42="" class="info-la">&ndash;&gt;-->
<!--&lt;!&ndash;        <span _ngcontent-c42="" class="labname">学号</span>&ndash;&gt;-->
<!--&lt;!&ndash;        <div _ngcontent-c42="" class="labM">&ndash;&gt;-->
<!--&lt;!&ndash;            <span _ngcontent-c42="">4</span>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div> <div _ngcontent-c42="" class="info-la">&ndash;&gt;-->
<!--&lt;!&ndash;    <span _ngcontent-c42="" class="labname">姓名</span>&ndash;&gt;-->
<!--&lt;!&ndash;    <div _ngcontent-c42="" class="labM">&ndash;&gt;-->
<!--&lt;!&ndash;    <span _ngcontent-c42="">user1</span> </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div> <div _ngcontent-c42="" class="info-la">&ndash;&gt;-->
<!--&lt;!&ndash;    <span _ngcontent-c42="" class="labname">性别</span>&ndash;&gt;-->
<!--&lt;!&ndash;    <div _ngcontent-c42="" class="labM"> <span _ngcontent-c42="">男</span>&ndash;&gt;-->
<!--&lt;!&ndash;    </div> </div> <div _ngcontent-c42="" class="info-la"> <span _ngcontent-c42="" class="labname">手机</span>&ndash;&gt;-->
<!--&lt;!&ndash;    <div _ngcontent-c42="" class="labM"> &lt;!&ndash;&ndash;&gt;<span _ngcontent-c42="" class="">13583945839</span> &lt;!&ndash;&ndash;&gt; </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div> <div _ngcontent-c42="" class="info-la"> <span _ngcontent-c42="" class="labname">邮箱</span>&ndash;&gt;-->
<!--&lt;!&ndash;    <div _ngcontent-c42="" class="labM"> &lt;!&ndash;&ndash;&gt;<span _ngcontent-c42="" class="">user1@localhost.com</span> &lt;!&ndash;&ndash;&gt; </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div> <div _ngcontent-c42="" class="info-la"> <span _ngcontent-c42="" class="labname">学院</span> <div _ngcontent-c42="" class="labM">&ndash;&gt;-->
<!--&lt;!&ndash;    <span _ngcontent-c42="">计算机与信息科学学院</span> </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div> <div _ngcontent-c42="" class="info-la">&ndash;&gt;-->
<!--&lt;!&ndash;    <span _ngcontent-c42="" class="labname">专业</span>&ndash;&gt;-->
<!--&lt;!&ndash;    <div _ngcontent-c42="" class="labM"> <span _ngcontent-c42="">软件工程</span> </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div> <div _ngcontent-c42="" class="info-la">&ndash;&gt;-->
<!--&lt;!&ndash;    <span _ngcontent-c42="" class="labname">年级</span>&ndash;&gt;-->
<!--&lt;!&ndash;    <div _ngcontent-c42="" class="labM"> <span _ngcontent-c42="">2019</span> </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div> <div _ngcontent-c42="" class="info-la"> <span _ngcontent-c42="" class="labname">班级</span>&ndash;&gt;-->
<!--&lt;!&ndash;    <div _ngcontent-c42="" class="labM"> <span _ngcontent-c42="">软件1班</span>&ndash;&gt;-->
<!--&lt;!&ndash;    </div> </div> &lt;!&ndash;&ndash;&gt; </form>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div class="css-1pp4h0z">-->
<!--    <div class="css-bgxerv">-->
<!--        <div class="css-1pysja1">-->
<!--            <h3 class="css-io0p33">密码</h3>-->
<!--            <div class="css-9z9vmi">已设置</div>-->
<!--        </div>-->
<!--        <div class="css-1ew9y65"><button type="button" class="Button Button&#45;&#45;link Button&#45;&#45;withLabel">-->
<!--            <div class="css-1ntg9ig">编辑</div></button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<!--</body>-->
<!--&lt;!&ndash;<style>&ndash;&gt;-->
<!--&lt;!&ndash;    .even{&ndash;&gt;-->
<!--&lt;!&ndash;        background-color: hotpink;&ndash;&gt;-->
<!--&lt;!&ndash;    }&ndash;&gt;-->
<!--&lt;!&ndash;    .odd{&ndash;&gt;-->
<!--&lt;!&ndash;        background-color: cornflowerblue;&ndash;&gt;-->
<!--&lt;!&ndash;    }&ndash;&gt;-->
<!--&lt;!&ndash;</style>&ndash;&gt;-->
<!--</html>-->

