<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
</head>
<body>
<nav class="navbar-default navbar-static-side" role="navigation" th:fragment="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="logo-element">
                    MOXI
                </div>
            </li>
            <li>
                <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">个人信息</span><span class="fa arrow"></span></a>
<!--                <ul class="nav nav-second-level collapse">-->
<!--                    <li><a href="#">系统设置</a></li>-->
<!--                    <li><a href="#">地区设置</a></li>-->
<!--                    <li><a href="#">支付方式</a></li>-->
<!--                    <li><a href="#">配送方式</a></li>-->
<!--                    <li><a href="#">物流公司</a></li>-->
<!--                    <li><a href="#">管理员</a></li>-->
<!--                    <li><a href="#">管理员角色</a></li>-->
<!--                    <li><a href="#">管理员权限</a></li>-->
<!--                </ul>-->
                <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">密码设置</span><span class="fa arrow"></span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-diamond"></i> <span class="nav-label">首页</span></a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>



